@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .container-cust {
    max-width: 1200px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .hero {
    background-image: var(--bg-gradient),
      url('../images/fonts/hero-image-desktop.jpg');
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--bg-gradient),
        url(../images/fonts/hero-image-desktop@2x.jpg);
    }
  }
  .hero-title {
    margin-bottom: 48px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .services {
    display: block;
    padding-bottom: 120px;
  }
  .advance-content {
    display: block;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--licht-slate-color);
  }
  .advance-item {
    width: calc((100% - 100px) / 4);
  }
  .advance-item:not(:nth-child(4n)) {
    margin-right: 24px;
  }
  .contacts {
    display: flex;
    align-items: center;
  }
  .contacts-email {
    margin-right: 40px;
  }
  .work {
    display: flex;
    justify-content: space-between;
  }
  .team-soc {
    gap: 24px;
    margin-top: 8px;
  }
  .team-item {
    width: calc((100% - 100px) / 4);
  }
  .team-list {
    justify-content: space-between;
  }
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-item {
    width: calc((100% - 150px) / 6);
  }
  .footer-logo {
    display: block;
    margin-bottom: 16px;
  }
  .footer {
    padding: 100px 0;
  }
  .container-footer-tap {
    display: flex;
  }
  .footer-subscribe {
    margin-left: 80px;
  }
}
