@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
    margin-right: auto;
    margin-left: auto;
  }
  .container-tap {
    max-width: 298px;
  }
  .container-cust {
    max-width: 421px;
  }
  .hero {
    background-image: var(--bg-gradient),
      url('../images/fonts/hero-image-table.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--bg-gradient),
        url(../images/fonts/hero-image-table@2x.jpg);
    }
  }
  .hero-title {
    font-size: 36px;
  }
  .customers-item {
    width: calc((100% - 30px) / 2);
    gap: 30px;
  }

  .team-soc {
    gap: 16px;
  }
  .social {
    text-align: center;
    justify-content: center;
  }
  .modal {
    width: 392px;
    height: 586px;
  }
  .mobile-menu-soc {
    gap: 56px;
  }
}
